body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('book.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parking-details {
   background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 40px auto;
}

#parking-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#view-location {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#view-location:hover {
    background-color: #45a049;
}

#parking-image-container img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

#parking-info {
    margin-bottom: 20px;
}

#price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#price-table th, #price-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#price-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
