<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Parking Dashboard</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <div class="dashboard">
    <header>
      <div class="profile">
        <img src="m1.jpeg" alt="Profile" class="avatar"/>
        <div class="user-info">
          <h1>Welcome To Space Park</h1>
        </div>
      </div>
    </header>

    <h3 class="title">Find your Parking Space</h3>

    <div class="search-bar">
      <input type="text" placeholder="Search your location">
    </div>

    <div class="icons">
      <img src="p3.jpeg" alt="car" />
      <img src="b1.jpeg" alt="bike" />
      <img src="p4.jpeg" alt="bus" />
    </div>

    <h4 class="nearby">Nearby Space</h4>

    
    <div class="cards">
      <a href="/park" class="card">
        <img src="p6.jpeg" alt="Parking 1">
        <div class="info">
          <h5>Rayan Parking</h5>
          <p>1st cross, popular nagar, Namagiri...</p>
          <strong>$ 0.2 /hr</strong>
        </div>
      </a>
    
      <a href="/park" class="card">
        <img src="signup.jpg" alt="Parking 2">
        <div class="info">
          <h5>Muthuvel Parking</h5>
          <p>1st cross, popular nagar, Namagiri...</p>
          <strong>$ 0.6 /hr</strong>
        </div>
      </a>
    </div>
    
      </div>
    </div>
  </div>
</body>
</html>
